@import "./colors";

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

@media (max-width: 1500px) {
    html {
        font-size: 85%;
    }
}

@media (max-width: 1080px) {
    html {
        font-size: 80%;
    }
}

@media (max-width: 950px) {
    html {
        font-size: 75%;
    }
}


#app-main {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    color: #2c3e50;
    display: flex;

    .app-container {
        display: flex;
        flex-direction: column;
        width: 80%;
    }
}

@media only screen and (max-width: 1200px) {
    #app-main {
        flex-direction: column;

        .app-container {
            width: 100%;
            height: calc(100vh - 8.1rem);

            .home-container,
            .playlist-details {
                height: calc(100vh - 14.6rem);
            }
        }
    }
}

@media only screen and (max-width: 640px) {
    .app-container {
        height: 0vh;
    }
}

// Scroll
::-webkit-scrollbar {
    width: 0.3rem;
}

::-webkit-scrollbar-thumb {
    background: rgba(175, 175, 175, 0.459); 
    border-radius: 10px;
}