.header-container {
    background: rgb(43, 43, 43);
    color: rgb(179, 179, 179);
    
    font-family: 'Poppins', sans-serif;

    padding-left: 3rem;
    padding-right: 3rem;
    height: 6.5rem;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-left-wrapper {
        display: flex;
        align-items: center;
        gap: 2rem;

        .logo-section {
            display: flex;
            align-items: center;
            gap: 1rem;
            
            font-size: 25px;
            font-weight: 500;

            img {
                width: 3.6rem;
            }
        }

        .divider {
            background: rgb(99, 99, 99);
            height: 30px;
            width: 1px;
        }

        h6 {
            font-size: 1rem;
            color: rgba(172, 172, 172, 0.726);
        }
    }

    .header-right-wrapper {
    }
}

@media only screen and (max-width: 500px) {
    .header-container {
        justify-content: center;
    
        .header-left-wrapper {
            .divider {
                display: none;
            }
    
            h6 {
                display: none;
            }
        }
    
        .header-right-wrapper {
            display: none;
        }
    }    
}