.header-container {
    background: rgb(43, 43, 43);
    height: 6.5rem;
    // width: 80%;
    z-index: 1;
    color: rgba(255, 0, 0, 0.788);

    display: flex;
    align-items: center;
    justify-content: center;
}