.header-container {
    background: rgb(43, 43, 43);
    color: rgb(179, 179, 179);
    
    font-family: 'Poppins', sans-serif;

    padding-left: 3rem;
    padding-right: 3rem;
    height: 6.5rem;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-left-wrapper {
        display: flex;
        align-items: center;
        gap: 2rem;

        .logo-section {
            display: flex;
            align-items: center;
            gap: 1rem;
            
            font-size: 25px;
            font-weight: 500;

            img {
                width: 3.5rem;
            }
        }

        .divider {
            background: rgb(99, 99, 99);
            height: 30px;
            width: 1px;
        }

        .input-field {
            position: relative;

            input {
                font-family: 'Poppins', sans-serif;
                letter-spacing: 0.1rem;
                
                border: none;
                border-bottom: 1px rgb(131, 131, 131) solid;
                min-width: 18rem;
                
                background: transparent;
                color: rgb(172, 172, 172);

                &:focus {
                    outline: 0;
                }
                
            }

            i {
                position: absolute;
                left: 90%;

                font-size: 20px;
            }
        }
    }

    .header-right-wrapper {
    }
}