.playlist-details {
  background: linear-gradient(143.8deg, rgba(0, 0, 0, 0.8) 0%, rgb(97, 97, 97) 70%);
  color: #e9e9e9;
  z-index: 1;
  height: calc(100vh - 6.5rem);

  .playlist-details-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 16rem;
    padding: 2rem;
    margin-top: -1rem;
    
    .playlist-info {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      .playlist-cover {
        height: 11rem;
        width: 11rem;
        background: rgb(70, 70, 70);
      }

    }

    .playlist-about {
      width: 20%;
      padding-right: 1rem;
      padding-bottom: 0.6rem;
      color: rgb(224, 224, 224);
      
      h5 {
        font-weight: 500;
      }
      
      i {
        font-weight: 200;
        color: rgb(172, 172, 172);
      }
    }

    .playlist-details-info {
      h3 {
        margin: 0;
        font-weight: 600;
      }
  
      p,
      span {
        font-weight: 200;
        color: #b3b3b3;
      }
    }
  }

  .playlist-details-body {
    height: calc(100% - 14.2rem);
    overflow: auto;
    padding: 3rem;
    padding-top: 1rem;
    background: rgba(58, 58, 58, 0.116);
    
    .nav-playlist {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        .play-btn {
          background: grey;
          width: 3.3rem;
          border-radius: 3.3rem;
          transition: filter 0.5s;

          &:hover {
            filter: brightness(1.3);
            cursor: pointer;
          }

        }

        i {
          font-size: 2rem;
          user-select: none;

          &:hover {
            cursor: pointer;
          }
        }
      }

      i.back-home {
        user-select: none;
        font-size: 3rem;
        color: rgb(199, 199, 199);
      }
    }

    table {
      tr {
        transition: background-color 0.5s;
        &:hover {
          cursor: pointer;
          background-color: rgb(83, 83, 83);

          .first {
            span {
              visibility: hidden;
            }

            .play-btn {
              visibility: visible;
              animation: slowly-show 0.9s;
            }

            @keyframes slowly-show {
              from {
                opacity: 0;
              }
              to {
                opacity: 1;
              }
            }
          }
        }
      }

      .first {
        display: flex;

        .play-btn {
          visibility: hidden;
          height: 1.6rem;
        }
      }
      
      .last {
        width: 8rem;
      } 
    }
  }
}

.loading {
  background: linear-gradient(143.8deg, rgba(0, 0, 0, 0.8) 0%, rgb(97, 97, 97) 70%);
  z-index: 1;
  height: calc(100vh - 6.5rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1200px) {
  .playlist-details {
    .playlist-details-header {
    }
  }
}
